<nav class="site-nav">
  <ul class="nav-list">
    <li><a href="/" class="nav-link">📊 Dashboard</a></li>
    <li><a href="/productes" class="nav-link">📦 Productes</a></li>
    <li><a href="/clients" class="nav-link">👥 Clients</a></li>
    <li><a href="/vendes" class="nav-link">🛒 Vendes</a></li>
  </ul>
</nav>
